@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;1,600&family=Libre+Baskerville:wght@400;700&family=Montserrat&family=Orbitron:wght@400;600;900&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;1,600&family=Libre+Baskerville:wght@400;700&family=Montserrat&family=Orbitron:wght@400;600;700;900&family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;1,600&family=Libre+Baskerville:wght@400;700&family=Montserrat&family=Orbitron:wght@400;600;700;900&family=Teko:wght@400;500;600;700&display=swap");
/* _______________________________import___________________________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*______________________________ HEADER y button________________________________ */

.TUNE {
  color: #f09e05;
}
header {
  font-family: "Orbitron", sans-serif;
  font-size: x-large;
}

nav ul li .a:hover {
  color: #fffdfc;
  font-size: 25px;
}
.a {
  text-decoration: none;
  color: #ffa500;
  letter-spacing: 5px;
}
nav ul li .a { 
  margin-left:50px ;
  margin-right:50px;
}
.my-navbar {
  font-family: "Orbitron", sans-serif;
}
.my-button {
  background-color: #000000;
}

@media screen  and (min-width:200px) and (max-width:1024px){

  nav ul li .a { 
    margin-left:0 ;
    margin-right:0;
  }
}

/*_____________________________ BODY _____________________________________ */
body {
  background-color: #222222;
}

.i_font { 
  font-size: 20px;
}
.h_auto{
  height: auto;
  width: 18rem;
}
/* ________________________________registro______________________________________ */


.registrate {
    height: 62vh;
    width: 25vw;
    margin: 10px;
    font-family: "Orbitron", sans-serif;
    background-color: #ffa600ae;
    text-align: center;
    border-radius: 50px 1px;
    text-align: center;

}


  
  h1 h2 .col-sm-7 {
    font-family: "Orbitron", sans-serif;
  }



/*__________________________________ARTICLE UNO iNDEX_______________________ ______*/
.viaje__fecha {
  background-color: #111010;
  font-family: "Orbitron", sans-serif;
  
}
.form-check-label {
  font-size: 30px;
}
.div_h1 {
  background: rgb(20,19,16);
background: linear-gradient(90deg, rgba(20,19,16,0.04982503255208337) 0%,  rgb(255, 165, 0) 100%);

}
.h1__viaje {
  color:  #141313;
  font-weight: bold;
}

section article {
  font-family: "Orbitron", sans-serif;
  color: #ffa500;
  text-align: center;
}

.container-lg  {text-align: center;
font-family: "Orbitron", sans-serif;
}


.fondo__black { 
  background-color: #000000;
}



.mensaje_m { 
  text-align: center;
  font-family: "Orbitron", sans-serif;
  overflow: auto;
  border-radius: 0px 70px 0 70px;
  font-size: 25px;
background-color:#ffa500;
;
}
.hover:hover { 
  transform: scale(1.4);
}



/*_____________________________________ FOOTER__________________________________________________*/

footer {
  height: 40vh;
  background-color: #141313;
  font-family: "Teko", sans-serif;
}

.copy {
  color: #ffa500;
  font-size: 20px;
  text-align: center;
}

footer p {
  font-size: 16px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  font-size: 16px;
  line-height: 24px;
}

footer i {
  margin-right: 10px;
}

footer a {
  color: #333;
  text-decoration: none;
}
h3 p .TN {
  color: #ffa500;
  font-family: "Orbitron", sans-serif;
}
.row {
  color: #ffa500;
  font-family: "Orbitron", sans-serif;
}
footer a:hover {
  color: #000000;
  font-size: 30px;
}

.sombra__fondo { 
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.sombra__fondo2 { 
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.596);

}

/* _______________imagen hover de informacion__________________ */




/* vuelo */
.main_vuelo { 
  background: linear-gradient(180deg, rgba(57, 56, 56, 0.05) 0%, rgb(4, 4, 4) 100%);

}

